
#videoAdd{
    #uploadVideo{
        background-color: gray;
        border: 2px solid;
        margin: auto;
        width: 50%;
        padding: 10px;
        
    }
    #uploadVideo.hover{
        background-color: black;
    }
}